behave==1.2.6
behaving==2.0.0
Appium-Python-Client<=0.52
ckanapi==4.3
ckantoolkit>=0.0.4
pytest-ckan
pytest-cov
six>=1.13.0
splinter>=0.13.0,<0.17

-e git+https://github.com/ckan/ckanext-scheming.git@release-3.0.0#egg=ckanext-scheming
-e git+https://github.com/qld-gov-au/ckanext-xloader.git@1.0.1-qgov.4#egg=ckanext-xloader
