include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/validation_schema_generator *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/validation_schema_generator/migration *.ini *.py *.mako
